*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslateblue;

}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 49, 80);
  margin: 5%;
  padding: 3%;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(153, 158, 187);
  margin: 5%;
  padding: 3%;
}
#output{
  margin: 5%;
  width: 40vw;
  height: 60vh;
  overflow-y: auto;
  border: .5em solid black;
}
#input{
  display: block;
  border: .5em solid black;
  width: 60%;
  height: 20%;
}
.button{
  margin: 2%;
  border: .3em solid black;
}
#info{
  width: 40vw;
  height: 60vh;
}
#warning{
  color: red;
}

